{% extends 'base.html.twig' %}

{% block body %}
	<div class="example-wrapper">
		<h1>{{ app.request.get('_route') }}</h1>
		<ul>
			<li>ID : {{id}}</li>
			<li>SLug : {{slug}}</li>
			<li>IP : {{ip}}</li>
			<li>URL : {{url}}</li>
			<li>URL from routing : {{from_routing}}</li>
		</ul>
	</div>
{% endblock %}
